# **Module 3: Data Sources and Types**

# Lab Practice 3.1

**Topic:** Data Integration for an E-commerce Company

**Problem Statement:** An e-commerce company wants to integrate data from various sources for a comprehensive analysis. Extract product and customer data from SQL databases, APIs, and web scraping, then combine and preprocess this data for analysis.

**Steps to be followed:**

1.	Sample Data for SQL Databases:

            a. Created sample data dictionaries for products and customers.
            b. Converted these dictionaries to DataFrames.
2.	Sample Data for APIs:

            a. Created sample data lists of dictionaries for products and customers.
            b. Converted these lists to DataFrames.
3.	Sample Data for Web Scraping:

            a. Created sample HTML content for product and customer data tables.
            b. Parsed the HTML content using BeautifulSoup and extracted data into DataFrames.
4.	Combining Data:

            a. Combined DataFrames from SQL, API, and web scraping sources using pd.concat.
5.	Preprocessing Data:

            a. Cleaned the combined data by removing duplicates and filling missing values using forward fill.
6.	Saving Data:

            a. Saved the combined and preprocessed data to CSV files for further analysis.
7.	Displaying Data:

            a. Printed the combined and preprocessed datasets for verification.

**Step 1: Import libraries and Sample Data for SQL Databases**

In [16]:
import pandas as pd
from bs4 import BeautifulSoup

In [2]:
product_data_sql = {
    'product_id': [1, 2, 3],
    'product_name': ['Laptop', 'Smartphone', 'Tablet'],
    'category': ['Electronics', 'Electronics', 'Electronics'],
    'price': [1000, 500, 300],
    'stock': [50, 100, 75]
}

customer_data_sql = {
    'customer_id': [101, 102, 103],
    'customer_name': ['Alice', 'Bob', 'Charlie'],
    'email': ['alice@example.com', 'bob@example.com', 'charlie@example.com'],
    'address': ['123 Main St', '456 Maple Ave', '789 Oak Dr'],
    'phone': ['123-456-7890', '234-567-8901', '345-678-9012']
}

**Step 2: Convert to DataFrame**

In [3]:
products_sql = pd.DataFrame(product_data_sql)
customers_sql = pd.DataFrame(customer_data_sql)

**Step 3: Sample Data for APIs**

In [4]:
product_data_api = [
    {'product_id': 4, 'product_name': 'Headphones', 'category': 'Electronics', 'price': 100, 'stock': 200},
    {'product_id': 5, 'product_name': 'Smartwatch', 'category': 'Electronics', 'price': 150, 'stock': 150}
]

customer_data_api = [
    {'customer_id': 104, 'customer_name': 'Dave', 'email': 'dave@example.com', 'address': '101 Pine St', 'phone': '456-789-0123'},
    {'customer_id': 105, 'customer_name': 'Eve', 'email': 'eve@example.com', 'address': '202 Birch Rd', 'phone': '567-890-1234'}
]

**Step 4: Convert to DataFrame**

In [5]:
products_api = pd.DataFrame(product_data_api)
customers_api = pd.DataFrame(customer_data_api)

**Step 5: Sample Data for Web Scraping (HTML content)**

In [6]:
html_products = """
<table>
    <tr>
        <th>product_id</th><th>product_name</th><th>category</th><th>price</th><th>stock</th>
    </tr>
    <tr>
        <td>6</td><td>Keyboard</td><td>Electronics</td><td>50</td><td>300</td>
    </tr>
    <tr>
        <td>7</td><td>Mouse</td><td>Electronics</td><td>30</td><td>400</td>
    </tr>
</table>
"""

html_customers = """
<table>
    <tr>
        <th>customer_id</th><th>customer_name</th><th>email</th><th>address</th><th>phone</th>
    </tr>
    <tr>
        <td>106</td><td>Frank</td><td>frank@example.com</td><td>303 Cedar St</td><td>678-901-2345</td>
    </tr>
    <tr>
        <td>107</td><td>Grace</td><td>grace@example.com</td><td>404 Elm St</td><td>789-012-3456</td>
    </tr>
</table>
"""

**Step 6: Extract data from HTML content using BeautifulSoup**

Beautiful Soup is a Python library for parsing HTML and XML documents, enabling easy extraction and navigation of data from web pages. It is widely used for web scraping and data extraction tasks.

In [7]:
def extract_web_data(html):
    soup = BeautifulSoup(html, 'html.parser')
    table = soup.find('table')
    rows = table.find_all('tr')
    data = []
    for row in rows:
        cols = row.find_all('td')
        cols = [ele.text.strip() for ele in cols]
        if cols:
            data.append(cols)
    return pd.DataFrame(data, columns=[th.text.strip() for th in rows[0].find_all('th')])

products_web = extract_web_data(html_products)
customers_web = extract_web_data(html_customers)

# Combine Data
products_combined = pd.concat([products_sql, products_api, products_web], ignore_index=True)
customers_combined = pd.concat([customers_sql, customers_api, customers_web], ignore_index=True)

# Preprocess Data
def preprocess_data(df):
    # Example preprocessing steps
    df.drop_duplicates(inplace=True)
    df.fillna(method='ffill', inplace=True)
    return df

products_combined = preprocess_data(products_combined)
customers_combined = preprocess_data(customers_combined)

/tmp/ipykernel_268704/1429170373.py:24: FutureWarning: DataFrame.fillna with 'method' is deprecated and will raise in a future version. Use obj.ffill() or obj.bfill() instead.
  df.fillna(method='ffill', inplace=True)

**Step 7: Save to CSV for further analysis**

In [8]:
products_combined.to_csv('products_combined.csv', index=False)
customers_combined.to_csv('customers_combined.csv', index=False)

print("Data extraction and preprocessing complete. Combined datasets saved to CSV.")

Data extraction and preprocessing complete. Combined datasets saved to CSV.

**Step 8: Display the combined and preprocessed data**

In [9]:
print(products_combined)
print("\n")
print(customers_combined)

  product_id product_name     category price stock
0          1       Laptop  Electronics  1000    50
1          2   Smartphone  Electronics   500   100
2          3       Tablet  Electronics   300    75
3          4   Headphones  Electronics   100   200
4          5   Smartwatch  Electronics   150   150
5          6     Keyboard  Electronics    50   300
6          7        Mouse  Electronics    30   400


  customer_id customer_name                email        address         phone
0         101         Alice    alice@example.com    123 Main St  123-456-7890
1         102           Bob      bob@example.com  456 Maple Ave  234-567-8901
2         103       Charlie  charlie@example.com     789 Oak Dr  345-678-9012
3         104          Dave     dave@example.com    101 Pine St  456-789-0123
4         105           Eve      eve@example.com   202 Birch Rd  567-890-1234
5         106         Frank    frank@example.com   303 Cedar St  678-901-2345
6         107         Grace    grace@example.com     404 Elm St  789-012-3456